/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F6F8F9;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar-container {
  width: 263px;
  background-image: url('../src/assets/NavbarBG.png');
  height: 833px;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
}

@media (max-width: 360px) {
  .sidebar-container {
    display: none; /* Hide Sidebar on mobile */
  }

  .main-content {
    margin-bottom: 80px; /* Space for Footer */
  }
}